
.DS_Store

set_api_keys.R

sims-data/combine_food_sims.R

.Rhistory

forsyth-data/closest_healthy_foods_store_2022.R

forsyth-data/closest_healthy_foods_store_2022.csv

forsyth-data/REVIEW_closest_healthy_foods_store_2022.R

forsyth-data/REVIEW_closest_healthy_foods_store_2022.csv

forsyth-data/forsyth_acs_data.Rmd

forsyth-data/forsyth_acs_data.pdf

piedmont-triad-data/REVIEW_closest_healthy_foods_store_2022.csv

piedmont-triad-data/REVIEW_closest_healthy_foods_store_2022.R

piedmont-triad-data/closest_healthy_foods_store_2022.R

piedmont-triad-data/addl_closest_healthy_foods_store_2022.csv

piedmont-triad-data/check_geocode_error.R

piedmont-triad-data/piedmont_triad_acs_data.pdf

piedmont-triad-data/piedmont_triad_acs_data.Rmd

piedmont-triad-data/fitme_example.R
